/* logo color is #7dd2eb */

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    position: relative;
    margin: 0;
    height: 100%;
    background-color: #F2F2F2;
}

input, button, submit { border:none; }

#app {
    height: 100%;
}

.bg-color-logo {
    background-color: #7dd2eb;
    color: #FFFFFF;
}

.text-color-logo {
    color: #7dd2eb;
}

.height-100 {
    height: 100px;
}

.nav-li {
    position: relative;
    padding-top: 40px!important;
    text-transform: uppercase;
    font-size: 18px;
    color: #404040!important;
    font-weight: medium;
    text-align: center;
}

.nav-li:hover {
    background-color: #F2F2F2!important;
    border-bottom: 5px solid #7dd2eb;
}

.navbar {
    margin-bottom: 0px;
}

#center-large-image-container {
    width: 100%;
    height: 400px;
    background-color: #CCCCCC;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#large-image-text {
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #404040;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#search-filter-container {
    background-color: #404040;
    padding: 20px;
    margin-top: -45px;
}

.custom-text-input {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border: 1px solid #404040;
    height: 47px;
}
.custom-text-input-height-auto {
    height: auto;
}

.custom-button:hover {
    background-color: #65c8e7;
}

.index-bottom-button {
    text-align: center;
    margin: 40px;
    font-size: 16px;
}

.large-button {
    background-color: #404040;
    color: #FFFFFF;
    padding: 20px;
    clear: both;
}
.large-button:hover {
    background-color: #65c8e7;
    color: #FFFFFF;
    text-decoration: none;
}

.medium-button-blue {
    background-color: #7dd2eb;
    padding: 5px;
    color: #FFFFFF;
    clear: both;
}
.medium-button-blue:hover {
    background-color: #65c8e7;
    text-decoration: none;
}

.medium-button-red {
    background-color: #c12e2a;
    padding: 5px;
    color: #FFFFFF;
    clear: both;
}
.medium-button-red:hover {
    background-color: #ac2925;
    text-decoration: none;
}

#index-main-container {
    /*margin-bottom: 250px;*/
}
#footer-container {
    background-color: #404040;
    width: 100%;
    color: #bfbfbf;
    /*position: fixed;
    bottom: 0;
    position: absolute;
    bottom: 0;*/
}

.footer-columns {
    padding: 20px;
}

.footer-item-title {
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF!important;
    font-weight: medium;
}

.footer-hr {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #595959;
}


/*featured jobs in the homepage CSS*/
.job-each-container {
    border: 1px solid #CCCCCC;
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.job-each-logo {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    overflow: hidden;
    float: left;
}
.job-each-info {
    height: auto;
}
.job-each-title {
    font-size: 32px;
}
.job-each-bottom-container {
    
}
.job-each-right-button-container {
    text-align:center;
}
.job-each-right-buttons {
    width: 100%;
    padding: 10px;
    background-color: #CCCCCC;
    border-radius: 20px;
}
.job-each-right-buttons:hover {
    box-shadow: 0px 0px 10px #999999;
}
.job-each-right-buttons-ft {
    color: #FFFFFF;
    background-color: #7dd2eb;
}
.job-each-right-buttons-s {
    color: #FFFFFF;
    background-color: #333333;
}
.remove-padding {
    padding: 0px;
}
.light-blue-text {
    color: #7dd2eb;
}
.remove-text-decoration-a:hover {
    text-decoration: none;
}

/*START of Job Details*/
.right-thick-gray-border {
    border-right: 2px solid #CCCCCC;
}
.job-details-custom-hr {
    width: 100%;
    height: 2px;
    background-color: #CCCCCC;
}
.add-margin-10 {
    margin: 10px 0px 10px 0px;
}
.custom-text-input-light-border {
    border: 1px solid #CCCCCC;
}
/*END of Job Details*/